<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="RX42 Control FS-i6 RE v2"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:usesCleartextTraffic="false"
        android:extractNativeLibs="true">
        <activity
            android:name=".Rx42ControlActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Rx42PhyProbeV1Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".RemoteLab3Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".RemoteLabActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".SelinuxStockProofV42Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NexmonVendorWifiV41Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".FirmwarePathProofV40Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".FirmwarePathScoutV39Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NexmonFirmwareClassV38Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NexmonExactLoaderV37Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NexmonMonitorBounceV36Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NexmonMonitorBounceActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NexmonRuntimeReloadActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NexmonTransportTriageActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NexmonProbeActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NexmonActivity303" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".NexmonActivity" android:screenOrientation="portrait" android:exported="false" />
    </application>
</manifest>
