<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="BCM4375 Lab"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".NexmonRuntimeReloadActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NexmonActivity303"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".NexmonActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>
</manifest>
